.field {
  background-color: pink;
}

.head {
  font-size: 50px;
  text-align: center;
  font-family: Helvetica;
}

canvas {
  background-color: pink;
  display: block;
  position: absolute;
  border: 1px solid #000;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
